{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="Contact Robert A. Butler, Silversmith.">
{% endblock %}

{% block article %}

      <section id="primary">
        <h3>General Information</h3>
        <p>For inquiries about any of the silver on this site, or a list of galleries, please contact us by email.</p>
        <p>For information about commissions and repairs, please understand that the next possible consultation may not be available for at least six months. Thank you for your understanding.</p>
      </section>
      <section id="secondary">
        <h3>Contact Details</h3>
        <ul class="contact-info">
          <li class="mail"><a href="mailto:butlersilver@gmail.com">butlersilver@gmail.com</a></li>
        </ul>
      </section>

{% endblock %}
