{% extends "base.html" %}

{% block meta %}
    <meta name="{{ title }}" content="Gallery of the art of Robert A. Butler, Silversmith.">
{% endblock %}

{% block article %}

  <section id="home-banner">
    <ul id="home-gallery">
    {% for silver in gallery %}
      <li>
        <a href="{{ url_for('gallery', silver_permalink = silver.permalink, silver_id = silver.orginal_index) }}">
          <img src="{{ silver.url }}" alt="{{ silver.name }}">
        </a>
      </li>
    {% endfor %}
    </ul>
  </section>

{% endblock %}
