{% extends "base.html" %}

{% block meta %}
    <meta name="{{ gallery.name }}" content="{{ gallery.description }}">
{% endblock %}

{% block article %}

      <section style="clear:both; max-width: 740px; margin: 0px auto;">
        <p class="breadcrumbs"><a href="/">Gallery</a> > {{ gallery.name }}</p>
        <!--<img src="../{{ gallery.url_small }}" alt="{{ gallery.name }}" class="profile-photo">-->
        <h3>{{ gallery.name }}</h3>
        <img src="../{{ gallery.url }}" alt="{{ gallery.name }}">
        <p>{{ gallery.description }}</p>
      </section>

{% endblock %}
